html {
  height: 100%;
  background: 50% 50% no-repeat
    url('data:image/svg+xml,<svg viewBox="-20 -5 60 40" width="140" xmlns="http://www.w3.org/2000/svg" opacity="0.2"><path d="M1 8l11-7 11 7v8l-11 7-11-7zm0 0l11 8 11-8m0 8L12 8 1 16M12 1v7m0 8v7" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><text x="-12" y="32" font-size="5" font-family="monospace" fill="currentColor">Built on CodePen</text></svg>');
}
body {
  text-align : center;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

#mainpart {
    width: 1440px;
    height: 1093px;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

header {
    display: flex;
    justify-content:center;
    align-items: center;
    
}
header #header {
    justify-content:left ;
}

h1 {
    font-weight: bold;
    
}

button{
    background-color: #C271FF;
    color: #ffffff;
    border-radius: 15px;
}

span {
    color: #C271FF;
}
#pictures {
    width: 217px;
    height: 758px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.circle-photo {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.quote{
    background-color: #C271FF;
    display: flex;
    justify-content: space-evenly;
}

.avatar {
    border-radius: 100px;

}

.quote #bold{
    font-weight: bold;
}